/*** base styles ***/

body {
  font-size: 1.2rem;
  background: $color-background;
}

$color-headlines: $green, $red, $orange, $yellow, $blue, $purple;

@for $item from 1 through length($color-headlines) {
  h#{$item} {
    color: darken(nth($color-headlines, $item), 15%);
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-highlight;
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-main;
}