$color-btn-default: $dark-blue;
$color-btn-text: $color-main;
$color-btn-hot: $red;
$color-btn-cool: $blue;
$roundness: 5px 10px 20px 30px; // used as a list of items in sass

%btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: $font-highlight;
  user-select: none;
  color: $color-background;
}

$color-btn-names: 'default', 'hot', 'cool';
$color-btn-values: $color-main, $red, $blue;

@each $name in $color-btn-names {
  $i: index($color-btn-names, $name);

  .btn-#{$name} {
    @extend %btn;
    background-color: nth($color-btn-values, $i);
  }
}

.grid {
  margin: 10px 0;
  @include clearfix;

  .item {
    float: left;
    @include imagegrid(3, 2%);
  }
  
  img {
    display: block;
    border-radius: nth($roundness, 4);
    max-width: 100%;
  }
}